<div class="container jumbotron">
    <div class="col-md-12">
        <h2 class="text-center">Uspješna registracija :)</h2>
        <p class="text-center"> <b>Sada jednostavno možete usvojiti novoga ljubimca</b> </p>
    </div>
</div>