<head>
    <link href="@Url.Content("~/css/Log.css")" rel="stylesheet" type="text/css" />

</head>


<h1>@ViewBag.CheckoutCompleteMessage</h1>
<h2>Čestitamo usvojili ste micu! </h2>
<h2>Maca će biti poslana na vašu kućnu adresu!</h2>