@model IEnumerable<Mic.Models.Category>

    <li class="dropdown">
        <a asp-controller="Cat"
           asp-action="Index"
           class="dropdown-toggle" data-toggle="dropdown">Cats<b class="caret"></b></a>
        <ul class="dropdown-menu">
            @foreach (var category in Model)
            {
                <li>
                    <a asp-controller="Cats" asp-action="Index"
                       asp-route-category="@category.CategoryId" asp-route-id="@category.CategoryName">@category.CategoryName</a>
                </li>
            }
            <li class="divider"></li>
            <li>
                <a asp-controller="Cats" asp-action="Index" asp-route-category="">View all cats</a>
            </li>
        </ul>
    </li>